<!-- <div class="left">
    <p>OOPS!</p>
</div> -->

<!-- <div style="text-align: center">
  <img src="assets/zero.png">
</div>

<div class="right">
    <p>4</p>
</div> -->

<div>
  <p>OOPS!</p>
  <p class="p1">Our apologies.<br>We're unable to find the page you're looking for.</p>
  <p class="p2"><br>Error code: 404<br>You might like to try going back to the<a routerLink="/main"> homepage</a>.</p>
</div>

<div class="footer">
    <img class=c6 src="assets\sopra steria.png" alt="Sopra Steria">
  </div>